<footer class="text-muted">
  <div class="container">
    <p class="float-right">
			<%= link_to 'View All Portfolio Items', portfolios_path, class: "btn btn-secondary" %>
      <a href="#" class="btn btn-secondary">Back to top</a>
    </p>
    <p>&copy; <%= Time.current.year %> | WenLin Tsai All rights reserved</p>
  </div>
</footer>